*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Playfair Display', serif;
	color: #626262;
}
/*header start*/
header{
	padding: 25px 0;
}
.wrapper {
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}
.logo {
	width: 12%;
	float: left;
}
.logo img{
	width: 100%;
	margin-top: 9px;
}
.menu {
	width: 70%;
	float: right;
}
.menu ul{
	list-style-type: none;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0 50px;
	padding: 10px 0;
	color: #626262;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: 0.3s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header end*/
/*banner start*/
.banner img{
	width: 100%;
}
/*banner end*/
/*newsletter start*/
.newsletter {
	margin-bottom: 100px;
	padding: 70px 0;
	background-color: #f0f0f0;
}
.wrapper3 {
	margin: 0 auto;
	width: 60%;
}

.signup {
	text-align: center;
}
.signup h1{
	margin-bottom: 80px;
	font-size: 30px;
	font-weight: 400;
	color: #333333;
}
.signup_form {
	margin: 0 auto;
	width: 350px;
	position: relative;
}
.signup_form input{
	padding-bottom: 10px;
	font-size: 18px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
}
.signup_form button{
	position: absolute;
	bottom: 25%;
	right: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
}
/*newsletter end*/
